    /*=====================================
    CERTIFICATES
    =====================================*/

    .certificates-section{

        padding:120px 0;

        background:#ffffff;

    }

    .certificate-card{

        background:#fff;

        border-radius:20px;

        padding:40px;

        text-align:center;

        transition:.35s;

        box-shadow:0 20px 40px rgba(0,0,0,.08);

        height:100%;

    }

    .certificate-card:hover{

        transform:translateY(-10px);

    }

    .certificate-icon{

        width:90px;

        height:90px;

        margin:auto;

        margin-bottom:25px;

        border-radius:50%;

        background:#EFF6FF;

        display:flex;

        align-items:center;

        justify-content:center;

    }

    .certificate-icon i{

        font-size:40px;

        color:#2563EB;

    }

    .certificate-card h4{

        font-weight:700;

    }

    .certificate-card span{

        color:#2563EB;

        font-weight:600;

    }

    .certificate-card{

        background:#fff;

        border-radius:20px;

        overflow:hidden;

        transition:.35s;

        box-shadow:0 15px 35px rgba(0,0,0,.08);

    }

    .certificate-card:hover{

        transform:translateY(-10px);

    }

    .certificate-image{

        width:100%;

        height:220px;

        object-fit:cover;

    }

    .certificate-body{

        padding:25px;

    }

    .certificate-filter{

        display:flex;

        justify-content:center;

        gap:15px;

        margin-bottom:50px;

        flex-wrap:wrap;

    }

    .certificate-btn{

        border:none;

        padding:12px 25px;

        border-radius:50px;

        background:#F1F5F9;

        font-weight:600;

    }

    .certificate-btn.active{

        background:#2563EB;

        color:#fff;

    }


    /*======================================
    CERTIFICATE CARD V2
    ======================================*/

    .certificate-card{

        position:relative;

        overflow:hidden;

        cursor:pointer;

    }

    .certificate-card::before{

        content:"";

        position:absolute;

        inset:0;

        background:linear-gradient(

            transparent,

            rgba(37,99,235,.15)

        );

        opacity:0;

        transition:.35s;

    }

    .certificate-card:hover::before{

        opacity:1;

    }

    .certificate-card:hover img{

        transform:scale(1.08);

    }

    .certificate-image{

        transition:.5s;

    }

    .certificate-body h4{

        transition:.35s;

    }

    .certificate-card:hover h4{

        color:#2563EB;

    }